
<form method="POST" name="formSizeGlobe" id="formSizeGlobe" action="{{@BASE}}/public/size/globe/save">
	<div id="errorMsg"></div>
	
	<div class="circle-center">
		<label for="formControl" class="form-label">Tamaño del globo</label>
		<div class="input-group mb-3 ">
			<input type="text"  id="sizeGlobe" name="sizeGlobe" class="form-control" placeholder="Escribe el tamaño del globo (en pixeles)"> 	
		  <span class="input-group-text" id="basic-addon2">px</span>
		</div>	
		<div id="btnSave" class="btn-group btn-group-lg float-right">
			<button type="button" class="btn btn-primary" id="btnSaveSize" name="btnSaveSize" onClick="sendData();">
				 Guardar
			</button>
		</div>
	</div>	
</form>


<script type="text/javascript">


	function isNumberFunc (dato){
	    /* valores aceptados*/
	    var valuesAccept = /^[0-9]+$/;
	    if (dato.indexOf(".") === -1 ){
	        if (dato.match(valuesAccept)){
	           return true;
	        }else{
	           return false;
	        }
	    }else{
	        //dividir la expresión por el punto en un array
	        var particion = dato.split(".");
	        //evaluamos la primera parte de la división (parte entera)
	        if (particion[0].match(valuesAccept) || particion[0]==""){
	            if (particion[1].match(valuesAccept)){
	                return true;
	            }else {
	                return false;
	            }
	        }else{
	            return false;
	        }
	    }
	}
	
	
	function sendData(){
		var sizeGlobe = $('#sizeGlobe').val();
		if(sizeGlobe != null || sizeGlobe != ''){
			var isNumber = isNumberFunc(sizeGlobe);
			//console.log("esNUmero: "+isNumber);
			if(isNumber){
				if(sizeGlobe > 100){
					var url = "{{@BASE}}/public/size/globe/save";
					var postdata = $('#formSizeGlobe').serialize();
					
					$.ajax({
						url : url,
						async : 'true',
						type : "POST",
						data : postdata,
						dataType : "json",
						beforeSend : function() {
							//
						},
						success : function(response) {
							//console.log(response);
							if (response.success) {
								if (response.metadata.id == 1) {
									//clean input	
									$('#sizeGlobe').val('');
									blockObj.alertDismiss("errorMsg","alert-success",response.metadata.msg);								
								} else if (response.metadata.id == -3) {
									blockObj.alertDismiss("errorMsg","alert-warning",response.metadata.msg);											
								}else if (response.metadata.msg) {
									blockObj.alertDismiss("errorMsg","alert-danger",response.metadata.msg);								
								}
							}
						},
						error : function(request, error) {
							blockObj.alertDismiss("errorMsg","alert-info","Ocurrió un error, intenta nuevamete ");									
						}
					});
				}else{
					blockObj.alertDismiss("errorMsg","alert-warning","Favor de escribir un número mayor a 100");
				}
			}else{
				blockObj.alertDismiss("errorMsg","alert-warning","Favor de escribir un dato numérico");

			}
		}else{
			blockObj.alertDismiss("errorMsg","alert-warning","El campo se encuentra vacío, favor de escribir el dato");

		}
		
	}
	
	
	
	
	
</script>