/* NAV BAR FIXED REQUIREMENT */

body { padding-top: 70px; }

/* SYSTEM COLORS */ 

.w_color_required {	
  color:#FF4081;
}

.w_color_azul {	
  color:#448AFF;
}

/* TOOLTIP */ 

.tooltipW
{
  text-decoration:none;
  position:relative;
}
 
 
.tooltipW span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white; 
}
 
 
.tooltipW span img
{
  float:left;
  margin:0px 8px 8px 0;
}
 
 
.tooltipW:hover span
{
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:auto;
  /*max-width:320px;
  min-height:128px;*/
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
} 

/* TOOTLTIP END */

#lista2{
  list-style: none;
  padding-left: 2px;
}

#lista1{
  padding-left: 20px;
}

.e-mask, .e-numeric, .e-ddl, .e-daterangewidget{
  height: -webkit-fill-available !important;
  height: -moz-available;
  height: fill-available;
}
.horas-bg{
   background-color:#D3D3D3;
}


.statusDato_110{  /*  Dato OK 		green 200*/
   background-color: #a5d6a755;
}
.ok{
  color: #a5d6a755;
}

.statusDato_111{ /*  Dato OK LOG	teal 200 */
   background-color: #80cbc455;
}
.ok-log{
  color: #80cbc455;
}
.statusDato_112{ /*  Dato OK Datalogger indigo 200*/
   background-color: #9fa8da55;
}
.ok-logger{
  color: #9fa8da55;
}
.statusDato_113{ /*  Dato OK Manual		blue 200*/
   background-color: #90caf955;
}
.ok-man{
  color: #90caf955;
}
.statusDato_114{ /*  Dato NO OK - No hay dato  Red 200*/
   background-color: #ef9a9a55; 
}
.no-ok{
  color: #ef9a9a55;
}

.statusDatoMax_1{ /* Dato maximo  yellow 200 #ffc1078c; */
   background-color: #fff59d55;
}
.maximo_01{ /*Estilos para dato máximo en grids de reportes*/
  background-color: #fff59d;
}


.map {
        width: 100%;
        height:400px;
      }
      .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }

.statusDoc_132{
  background-color: #f8d7da;
}
.statusDoc_133{
  background-color: #d4edda;
}
.statusDoc_131{
  background-color: #eff286;
}
	
.e-grid .e-rowcell{
  padding: 10px !important;
}