/* Styles */ 

.styleTitle {
	border-bottom: 2px solid lightgrey;
}

.styleBtnAgregar {
	margin-top: 50px;
}


.styleComboTop {
	margin-top: 15px;
}

.circle-center {
	  text-align: center !important;
}

.form-size-circle {
	width:50% !important;
	text-align: center !important;
	align-items:center !important;
}