<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" charset="utf-8">
	<meta name="title" content="{{@NAME_APP}} - {{@PAGE}}" />
	<meta name="description" content="" />
	<meta name="keywords" content=""/>
	<meta name="robots" content="none">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="">
	
	<title>{{@NAME_APP}} </title>
	
	<!-- STYLES -->
		
		<!-- Bootstrap -->
		<link  href="{{@BASE}}/assets/libs/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />	
			
		<!-- FontAwesome -->
		<link  href="{{@BASE}}/assets/libs/fontawesome-pro-5.9.0-web/css/all.min.css" rel="stylesheet" />	
		
	  	<!-- Toasts -->
		<link  href="{{@BASE}}/assets/libs/toastmejs-1.2.2/dist/css/toastme.min.css" rel="stylesheet" />	
    
   		<!-- Components -->	
		<link  href="{{@BASE}}/assets/css/styles.css" rel="stylesheet" />	
		
   	<!-- SCRIPTS -->
	
		<!-- jQuery -->
		<!--[if lt IE 9]>
	    	<script src="{{@BASE}}/assets/js/jquery-1.11.3.min.js" type="text/javascript" ></script>
	    <![endif]-->
	    <!--[if IE 9]><!-->
	    	<script src="{{@BASE}}/assets/js/jquery-3.4.1.min.js" type="text/javascript"> </script>
	    <!--<![endif]-->
		
	    <!-- Bootstrap -->
	    <script src="{{@BASE}}/assets/libs/bootstrap-4.3.1-dist/js/bootstrap.min.js" type="text/javascript"></script>
			
		<!-- Moment dateformats -->
		<script src="{{@BASE}}/assets/js/moment-with-locales.min.js" type="text/javascript"></script>	
		
		<!-- Toasts -->
		<script src="{{@BASE}}/assets/libs/toastmejs-1.2.2/dist/js/toastme.min.js" type="text/javascript"></script>	
		
    	<!-- Components -->	
	    <script src="{{@BASE}}/assets/js/components.js" type="text/javascript"></script>
	    <script src="{{@BASE}}/assets/js/libcomponents.js" type="text/javascript"></script>
    
</head>

<script type="text/javascript">
	console.log ("CARGA DE LAYOUT");
</script>


<body>
	<div>
		<div id="menu">
			
		</div>
	</div>	
	<div class="main container-fluid"> 
		<div id="mainContainer">
			<include href="{{@container}}" />
		</div>
	</div>
	<div class="footer">
		
    </div>
</body>

</html>